

body 
{
    background-image: linear-gradient(to right, rgb(248, 201, 209) , rgb(145, 228, 239));
} 
.flexbox
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
}
.flexbox a
{
    font-family: Lexend; 
    font-weight: bold; 
    color: #263D5A;
    text-decoration:none ;
    font-size: medium;
} 

.Button 
{
    border: 1px solid transparent;
    border-radius: 6px 6px 6px 6px;
    background-image: linear-gradient(to right, rgb(240, 106, 189) , rgb(226, 142, 96));
    position:sticky;
    top:0;

}

.Button a 
{
    color:white;
} 

.flexbox .title
{
    font-family: Lexend;
    font-weight: bold; 
    font-size: larger;
    font-style: unset;
    color: #263D5A;
} 

.a-transparent-box 
{
  
  border: 1px white solid ; 
  width: 50% ;
  height:90%;
  border-radius: 30px;
  filter: blur(3.5px); 
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  margin-left: 10%;
  position: center;
  

  

}


h1
{
    font-style: Lexend;
    padding-left: 230px;
    font-size: 70px;
    font-weight: bolder;
    padding-top: 60px;
    position:absolute;
    color: #263D5A;
}


h1 p 
{
    font-style: Lexend;
    font-size: 20px;
    font-weight: lighter;
    position:absolute;
    color: #263D5A;
    text-align: justify;
} 


span 
{
    font-size:  80px;
} 

.Button2 
{
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(240, 106, 189) , rgb(226, 142, 96)); 
    height:1cm; 
    width:4cm; 
    margin-left:14%;
    position: absolute;
    margin-top: 33%;
    
}

.Button2 a
{
    color:white; 
    text-align: center;
    font-size: 120%; 
    font-weight: bold;
    text-decoration: none;
    padding-left: 34px;
    padding-bottom: 20px; 
    
}





.Button:hover 
{
    
    transform:translateY(0.1cm);
    transition: 0.8s;
}  

img
{
  border: 1px white solid ; 
  width: 50% ;
  height:80%;
  border-radius: 30px;
  margin-left: 50%;
  blur
  position: center;
}

